
<link href="css/bootstrap.css" rel="stylesheets">
<head>
	<title>LilMissMoffitt - Portfolio</title>
</head>
<body>
  <div class="indent">
		<h1> Development </h1>
		<div class="outside_the_office">
		  <h1> Outside The Office </h1>
				<!-- <div class="row"> -->
					<div class="column">
						<%= image_tag "Outdoors/IMG_5497.jpg" %>
						<%= image_tag "Outdoors/IMG_5436.jpg" %>
						<%= image_tag "Outdoors/IMG_5438.jpg" %>
				  </div>
				  <div class="column">
					  <%= image_tag "Outdoors/IMG_5501.jpg" %>
					  <%= image_tag "Outdoors/IMG_5505.jpg" %>
					  <%= image_tag "Outdoors/IMG_5508.jpg" %>
				  </div>
				  <div class="column">
					  <%= image_tag "Outdoors/IMG_5796.jpg" %>
					  <%= image_tag "Outdoors/IMG_5872.jpg" %>
					  <%= image_tag "Outdoors/IMG_5876.jpg" %>
				  </div>
				  <div class="column">
					  <%= image_tag "Outdoors/IMG_5330.jpg" %>
					  <%= image_tag "Outdoors/IMG_5775.jpg" %>
					  <%= image_tag "Outdoors/IMG_5887.jpg" %>
				  </div>
				  <div class="column">
					  <%= image_tag "Outdoors/IMG_5972.jpg" %>
					  <%= image_tag "Outdoors/IMG_5973.jpg" %>
					  <%= image_tag "Outdoors/IMG_5974.jpg" %>
				  </div>
			 <!--  </div> -->
			</div>
		<h1> Creating </h1>
  </div>
</body>
